# Web scraping and parsing
beautifulsoup4>=4.12.0
requests>=2.31.0
lxml>=4.9.0

# Selenium for browser automation
selenium>=4.15.0

# Database
psycopg2-binary>=2.9.0

# Configuration management
pydantic==2.7.4
pydantic-settings==2.4.0
python-dotenv>=1.0.0

# Utility libraries
python-dateutil==2.8.2
pytz>=2023.3
jdatetime>=4.1.0

# Logging
colorlog==6.8.0

# Scheduler for periodic jobs
apscheduler>=3.10.4

# ORM
sqlalchemy>=2.0.0

# Optional: OpenAI SDK
openai==0.28.0

# Optional: if using LangChain
langchain==0.3.23
langchain-community==0.3.16

# If you're using ChromaDB for vector storage
chromadb==1.0.4
fastapi==0.115.9

confluent-kafka>=2.5.3
redis
pyspark>=3.5.0
yake>=0.4.8
pandas>=2.2.0

tiktoken
